.navbar {
  background-color: var(--bodySecondary);
  color: var(--textWhite);
  width: 100%;
  border-radius: 8px;
  margin: 10px 0px;
  display: flex;
  padding: 5px !important;
}

.logo {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  color: var(--textWhite);
  cursor: pointer;
}

.navbar input[type="search"] {
  padding: 6px 14px;
  background-color: var(--selected);
  border: none;
  border-radius: 4px;
  margin-right: 20px;
  color: var(--textWhite);
}
.navbar input[type="search"]::placeholder {
  color: var(--textWhite);
  font-size: 12px;
  opacity: 0.7;
}
.navbar input[type="search"]:focus {
  outline: none;
}
