* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bodyPrimary: #151c2c;
  --bodySecondary: #182237;
  --selected: #374461;
  --textWhite: #fff;
  --textblack: #000;
}

.light {
  --textblack: #fff;
  --textWhite: #182237;
  --bodyPrimary: rgb(236, 229, 222);
  --bodySecondary: #c1c7d1;
}

body {
  background-color: var(--bodyPrimary);
  color: var(--textWhite);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #000;
}
::-webkit-scrollbar-track {
  width: 60%;
  background-color: var(--bodyPrimary);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #00000055;
  border-radius: 0px;
}

form input,
form select,
form textarea {
  color: var(--textWhite);
  padding: 10px 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  /* height: 70%; */
}

form select,
form textarea {
  background-color: var(--bodyPrimary);
  resize: none;
}
form input:not(.submit) {
  user-select: none;
  background-color: var(--bodyPrimary);
}
form input,
form select,
form textarea :focus {
  outline: none;
}

form input[type="submit"] {
  background-color: rgb(11, 128, 128) !important;
  border-radius: 6px !important;
  color: var(--textWhite) !important;
  border: 1px solid transparent !important;
  text-transform: capitalize;
  transition: 0.2s;
}

form input[type="submit"]:hover {
  background-color: transparent !important;
  border: 1px solid rgb(11, 128, 128) !important;
  letter-spacing: -1px;
}
form input::placeholder {
  font-size: 14px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.submit {
  background-color: rgba(205, 92, 92, 0.578);
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  text-transform: capitalize;
  color: #fff;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit:hover {
  background-color: rgba(205, 92, 92, 0.993);
}

.error {
  text-indent: 6px;
  font-size: 12px;
  color: rgb(223, 29, 29);
}

.mode {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #373535cd;
  transition: 0.5s;
  transform: scale(0.9);
  background-color: #4d4b4b;
  transition: 0.3s;
}

.mode:hover {
  box-shadow: 0px 1px 3px 1px var(--light-color);
}
